<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">

      <div class="card shadow-lg">
        <div class="card-header text-center bg-primary text-white">
          <h3>Welcome {{ user.name }}!</h3>
        </div>
        <div class="card-body text-center">
          <!-- Profile Picture with Hover Effect -->
          <div class="profile-pic-container mb-4">
            <img [src]="user.profile_pic" alt="Profile Picture" class="profile-pic rounded-circle">
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <p><strong>Email:</strong> {{ user.email }}</p>
            </div>
            <div class="col-md-6">
              <p><strong>Age:</strong> {{ user.age }}</p>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <p><strong>Phone:</strong> {{ user.phone }}</p>
            </div>
            <div class="col-md-6">
              <p><strong>Country:</strong> {{ user.country }}</p>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <p><strong>Role:</strong> {{ user.role }}</p>
            </div>
          </div>
          

          <button (click)="logout()" type="button" class="btn btn-outline-info">Logout</button>
        </div>
      </div>
    </div>
  </div>
</div>
